.contact-icons {
  display: flex;
  justify-content: space-evenly;
  background: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}

.icon-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-info-icon {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.icon-info-icon i {
  font-size: 20px;
  color: #fff;
}

.icon-info-text {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .contact-icons {
    flex-direction: column;
    gap: 25px;
  }

  .icon-info-icon {
    margin-bottom: 0;
    margin-right: 20px;
  }

  .icon-info-item {
    flex-direction: row;
    margin: 0 auto;
  }

  .icon-info-text {
    text-align: left;
  }
}
